<nav>
  <div class="container">
      <ul>
          <li><a href="/">Home</a></li>
          <% if (user) { %>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/todo">Todo List</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Logout</a></li>
          <% } else { %>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
          <% } %>
      </ul>
  </div>
</nav>